h1{
  padding: 20px;
  color: #999;
}

div{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

p-button{
  margin-left: 10px;
}

.button{
  padding-left: 35%;
}

.formDist{
  display: flex;
  flex-direction: row;
}

.rigth-container{
  margin-top: 55px;
}

.input-full-width {
  display: flex;
  flex-direction: column;
}

.input-full-width input {
  width: 100%;
  /* Asegura que el input ocupe todo el ancho disponible */
}

.input-full-width mat-hint {
  width: 100%;
  /* Asegura que el hint ocupe todo el ancho disponible y se muestre debajo del input */
}
